# dependencies
node_modules
.pnpm-store

# Next.js build
frontend/.next/
frontend/out/
frontend/build/

# Backend build
backend/dist/
backend/build/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
